* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
  }
body {
    background-color: rgb(255, 255, 255);
    background-image: url(/images/blue-blurry-background.jpg);
    background-attachment: fixed;
}
.container{
    display: flex;
    width: 70%;
    position: relative;
}
.navbar{
    display: flex;
    flex-direction:  column;
    gap: 2vw;
    /* justify-content: space-between; */
    /* padding: .5vw 2vw; */
    background-color: rgb(255, 255, 255);
    /* align-items: center; */
    position: fixed;
    width: 20%;
    z-index: 99;
    height: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.435);
}
.navbar h1{
  border-bottom: 1px solid black;
  padding: 20px;
}
.links{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    font-size: 1.1vw;
}
.links a{
    text-decoration: none;
    color: black;
    height: 3vw;
    width: 10vw;
    font-family: sans-serif;
}
.navbtn{
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 1px solid rgba(0, 0, 0, 0.244); */
    padding: 15px;
    height: 3vw;
    width: 10vw;
}
.navbtn svg{
    margin-right: 10px;
}
.navbtn:hover{
    cursor: pointer;
    font-weight: bold;
}
/* .navbtn:hover svg{ 
    color: white;
} */
.main{
    margin-left: 30%;
    min-height: 100vh;
    width: 80%;
    /* background-color: rgb(51, 51, 51); */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.postcontainer{
    backdrop-filter: blur(30px);
    min-height: 70vh;
    width: 85%;
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
    border: 1px solid grey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2vw 0;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.postheader{
    display: flex;
    /* background-color: grey; */
    gap: 15px;
    justify-content: left;
    align-items: center;
    margin-bottom: .5vw ;
}
.userimg{
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.userimg img{
    object-fit: cover;
}
.postheader h1{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.postheader p {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.postbody{
    object-fit: cover;
    overflow: hidden;
    /* background-color: grey; */
    border-radius: 25px;
}
.postcaption{
    padding: 15px;
    color: rgb(0, 0, 0);
    /* background-color: grey; */
    border: 1px solid rgba(0, 0, 0, 0.581);
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-left: 2vw;
    margin-bottom: 3vh;
}
.postcaption h1{
    font-family: sans-serif;

}
.postfooter{
    display: flex;
}
.postleft{
    width: 50%;
    display: flex;
    color: rgb(0, 0, 0);
    /* background-color: grey; */
}
.postlike{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
}
.postlike h1{
    font-size: 1vw;
}
.likeicon{
    height: 40px;
    width: 40px;
    position: relative;
}
.likeicon svg{
    position: absolute;
}
.postcomment{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    justify-content: start;
    /* border: 1px solid red; */
}
.commenticon{
    height: 40px;
    width: 40px;
    position: relative;
}

.commenticon svg{
    position: absolute;
}
.postcomment h1{
    font-size: 1vw;
}
/* .postright{
    width: 50%;
    background-color: grey;
    display: flex;
    justify-content: end;
    padding-right: 2vw;
} */
 .comments-container{
    background-color: grey;
    width: 45%;
    position: absolute;
    left: 94%;
    top: 2vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    opacity: 0;
}
 .comment{
    display: flex;
    gap: 5px;
 }
 .profile-img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    overflow: hidden;
 }
 .profile-img img{
    object-fit: cover;
 }
 .comment-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
 }
 .postright{
    width: 50%;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    /* background-color: grey; */
    /* border: 1px solid red; */
 }
.comment-input textarea{
    padding:10px 5px;
    width: 19.5vw;
    resize: none;
    background-color: transparent;
    border-radius: 5px;
}
.comment-input button{
    padding:5px 10px;
    width: 5vw;
    cursor: pointer;
    transition: 1s ease-in-out;
    background:linear-gradient(to left,#ACBEFC, #E8EDFF);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.comment-input button:hover{
    background:linear-gradient(to right,#ACBEFC, #E8EDFF);
    transition: 1s all ease;
}